<div class="container">

  <div class="list-box">
    <div class="title">
      <h1>Edit <%= @todo.title %></h1>
    </div>

    <div class="line-break"></div>

    <%= render 'form', todo: @todo %>
    <div class="buttons big-buttons">
      <%= link_to 'Back Home', todos_path %>
    </div>

    <div class="line-break"></div>
  </div>

</div>
