.list {
  color: white;
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list li {
  background: var(--card-accents);
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
  margin: 14px 0;
  padding-left: 3vmin;
}

.flex-movement {
  display: flex;
  justify-content: space-between;
}

.icon-beginning {
  background: var(--card-accents);
  margin: 0;
  padding: 0;
}

.padding-icons, .padding-icons i, a {
  background: var(--card-accents);
}
