@import url(./index.css);
@import url(./components/line.css);
@import url(./components/list.css);
@import url(./components/buttons.css);

/* Color Vairables */
:root {
  --container-bg-1: #495579;
  --text: #FFFBEB;
  --card-bg: #251749;
  --card-accents: #263159;
}

/* Default Styling */
* {
  margin: 0;
  background: var(--container-bg-1);
}
