.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.list-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4vmin 2vmin 15vmin 2vmin;
  width: 40vmin;
  border-radius: 9%;
  background: var(--card-bg);
}

.title h1 {
  display: flex;
  justify-content: center;
  background: var(--card-bg);
  color: var(--text);
}
